<!DOCTYPE html>
<html>
<head>
    <title>The AJAXson 5</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="mount-point">
        <h1>The AJAXson 5</h1>

        <form>
            <label>What kind of Jackson 5 related gif do you want?</label>
            <input name="tag" type="text" v-model="tagValue"/>
            <br><br>
            Prove you are not a robot by answering this riddle:
            <input name="validation" type="text" v-model="validation"><b> Jacksons are better than 1.</b>
            <!--
                @click.prevent is a shorthand for saying
                "add a click event listener, and prevent default"
                It's a Vue.js thing, not something built into JS or HTML
            -->
            <input
            type="submit"
            value="Get my Gif!"
            @click.prevent="fetchGif"
        />
        </form>
        <br><br>

        <img id="gif" v-bind:src="imgSrc" v-if="imgSrc"/>
        <p id="loading" v-if="loading">
            Loading your gif! 
        </p>
        <p id="feedback" v-if="errorMessage">
            {{ errorMessage }}
        </p>
    </div>
    <script type="text/javascript" src="request-gif.js"></script>
</body>
</html>
